{
	"env": {
		"es6": true,
		"node": true
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"plugin:react/recommended",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"settings": {
		"react": {
			"createClass": "createReactClass",
			"pragma": "React",
			"version": "detect",
		}
	},
	"parserOptions": {
		"sourceType": "module",
		"experimentalObjectRestSpread": true,
		"jsx": true,
		"ecmaVersion": 2018
	},
	"parser": "@typescript-eslint/parser",
	"rules": {
		"no-undef": 2,
		"comma-dangle": [
			"error",
			{
				"arrays": "never",
				"objects": "always",
				"imports": "never",
				"exports": "never",
				"functions": "never"
			}
		],
		"no-console": [
			"error",
			{
				"allow": [
					"log",
					"error",
					"info",
					"warn",
					"table"
				]
			}
		],
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"react/self-closing-comp": 1,
	}
}
